html, body, h1, h2, h3, h4, a, p, ol, ul, li {
      padding: 0;
      border: 0;
      margin: 0;
    }
    body {
      padding: 0;
    }
    .header {
      padding: 20px 20px 20px 20px;
      background-color: #47476B;
      color: #ffffff;
      margin: 0 auto 0 auto;
      text-align: center;
    }
    .header a {
      color: #ffffff;
    }
    .main-content {
      padding: 20px 20px 20px 20px;
      width: 650px;
      margin: 0 auto 0 auto;
    }
    h1 {
      margin: 10px 0px 15px 0px;
      font-size: 50px;
      font-family: "Magneto";
    }
    p {
      color: dimgray;
      }
    h2 {
      padding: 20px 0 5px 0;
      margin: 10px 0px 20px 0px;
      font-size: 28px;
      color: #006666;
      border-bottom: 1px solid black;
      text-align: center;
      }
    a {
      text-decoration: none;
      color: #000000;
      }
    h3 {
      margin: 15px 0 15px 0;
      font-size: 20px;
    }
    h4 {
      margin: 10px 0 10px 0;
    }
    ol {
      padding-left: 20px;
    }
    .nav li {
      display: inline;
      padding: 0px 25px 0px 25px;
    }
    a:hover {
      color: #006666;
    }
    .about {
      border-bottom: 1px solid black;
    }
    .bands {
      border-bottom: 1px solid black;
    }
    .prependers-regexpressionists {
      padding-left: 20px;
    }
    .contactusnow {
      padding: 30px 0 0 0;
    }
    .contact {
      border-bottom: 1px solid black;
    }
    .contact-number {
      text-align: center;
    }
    .prependers-band {
      padding-left: 15px;
    }
    .reg-band {
      padding-left: 15px;
    }
    .prependers-bio {
      text-align: center;
    }
    .regband-bio {
      text-align: center;
    }